#sideNav {
    background-image: linear-gradient(to right, #2980b9, #6dd5fa); /* 使用漸變背景 */
    color: #ffffff; /* 白色文字 */
    border-right: 3px solid #f1c40f; /* 添加黃色邊框 */
}
.navbar-dark .navbar-nav .nav-link {
    color: #ecf0f1; /* 更改連結文字顏色 */
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #f1c40f; /* 滑過時改變顏色 */
}