{letter-spacing: 0.8px;
 line-height: 1.5em;
}

body{font-family: 'Noto Sans TC', sans-serif;
}
 
p#redred{
    background-color: black;
    color:gainsboro;
    border: 20px solid red ;

    color:#CD5C5C !important;  
    font-size: 40px;
    text-align: :left;
    text-indent: 2em ;
    background: red 
}

p.blueblue{
    color:#ADD8E6

}


